$main: #FFBC2E;
$second:#262D5A;

$text-main:#FFFFFF;
$text-second:#000000;
$text-shadow:#000029;

$bg-light:#EAEAEA;
$bg-heavy:#262D5A;


$font-title:70px;
$font-subTitle:36px;
$font-category:24px;

$font-main:20px;
$font-second:14px;

$font-chat:16px;



