<div class="user">
    <div class="user__inputSection mb-30">
        <p class="mb-12">選擇你的稱號</p>
        <div>
            <button class="btn mr-20">↗煞氣a↙</button>
            <button class="btn mr-20">*~幻滅~*</button>
            <button class="btn mr-20">乂熾炎乂</button>
            <button class="btn">★☆羽☆★</button>
        </div>
    </div>
    <div class="user__inputSection mb-30">
        <p class="mb-12">輸入你剛剛吃的食物</p>
        <input class="input" type="text">
    </div>
    <div class="user__inputSection">
        <p class="mb-12">Say my name</p>
        <input class="input user__inputSection--name" type="text">
    </div>
    <div class="user__nextBtn">
        <button (click)="next()">開始尬聊</button>
    </div>
</div>
