@import '../../../assets/styles/var.scss';

.bar{
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    padding: 15%;
    background-color: $main;
    &__logo{
        text-align: center;
        font: ExtraBold Barlow;
        color: $text-main;
        font-size: $font-title;
        font-weight: 900;
        text-shadow: 0px 3px 6px $text-shadow;
        letter-spacing: 5.6px;
        margin-bottom: 60px;
    }

    &__category{

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100% - 200px);
        font: Medium Noto Sans CJK TC;
        font-size: $font-category;
        text-align: right;
        text-shadow: 0px 3px 6px $text-shadow;
        padding-right: 12%;
        color: $text-main;
        letter-spacing: 2.4px;

        &--decoration{
            position: absolute;
            width: 12px;
            top: 0px;
            bottom: 0px;
            left: 12%;
            right: 0px;
            background: #fff;
        }

        &--item{
            
        }
    }
}