<div class="rooms">
    <div class="rooms__title">
        <p class="rooms__title--name">熱門聊天室</p>
        <span class="rooms__title--new">＋自己開一個</span>
    </div>
    <div class="rooms__group">
        <label class="rooms__group--name">工作</label>
        <ul class="rooms__items">
            <li class="rooms__items--item">
                我該辭職嗎？
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                同事是豬隊<br>友的快進來
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                上班好同事<br>下班不認識
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                轉換跑道a<br>陣痛期
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                我該辭職嗎？｀
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                同事是豬隊<br>友的快進來
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                上班好同事<br>下班不認識
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                轉換跑道a<br>陣痛期
                <span class="rooms__items--people">501人</span>
            </li>
        </ul>
    </div>
    <div class="rooms__group">
        <label class="rooms__group--name">工作</label>
        <ul class="rooms__items">
            <li class="rooms__items--item">
                我該辭職嗎？
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                同事是豬隊<br>友的快進來
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                上班好同事<br>下班不認識
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                轉換跑道a<br>陣痛期
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                我該辭職嗎？
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                同事是豬隊<br>友的快進來
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                上班好同事<br>下班不認識
                <span class="rooms__items--people">501人</span>
            </li>
            <li class="rooms__items--item">
                轉換跑道a<br>陣痛期
                <span class="rooms__items--people">501人</span>
            </li>
        </ul>
    </div>
    <div></div>
</div>
